#version: v2.1.8.{build}
os:
  - Visual Studio 2013
  - Visual Studio 2015
  - Visual Studio 2017

platform:
  - Win32
  - Win64

install:
  - ps: ./scripts/get.ps1 -branch $env:APPVEYOR_REPO_BRANCH

build_script:
  - ps: Get-Command xmake
  - ps: xmake --version
  - ps: xmake build --project=core
  - ps: |-
      Set-AppveyorBuildVariable -Name XMAKE_PROGRAM_DIR -Value $(Join-Path $(Get-Location) "xmake")
      .\core\build\xmake.exe --version
      Copy-Item -Force core\build\xmake.exe $(Get-Command xmake).Source

after_build:
  - ps: |-
      Copy-Item .\core\build\xmake.exe .\xmake
      Copy-Item .\*.md .\xmake
      Compress-Archive -Path .\xmake -DestinationPath .\archive.zip -CompressionLevel Optimal
      Push-AppveyorArtifact .\xmake\xmake.exe -FileName xmake.exe -DeploymentName "xmake-executable"
      Push-AppveyorArtifact .\archive.zip -FileName xmake.zip -DeploymentName "xmake-archive"

test_script:
  - ps: xmake --version
  - ps: |-
      Add-AppveyorTest -Name "tests" -Framework "xmake-test" -FileName ./tests/test.lua -Outcome Running
      $time = Measure-Command { 
        $results = xmake lua --verbose --diagnosis tests\test.lua 2>&1
        $outcome = if ($?) { "Passed" } else { "Failed" }
        $stdout = [string]::Join("`n", $results)
      }
      Update-AppveyorTest -Name "tests" -Framework "xmake-test" -FileName ./tests/test.lua -Outcome $outcome -Duration $time.TotalMilliseconds -StdOut $stdout

