# MacOS Cache
.DS_Store

# Xmake cache
.xmake/
build/

# for VS Code
.vscode/

# for vim
*.swp
*.swo
tags
!tags/

# Ignore packaging files
winenv/
*.exe
*.zip
*.gz
*.bz2
*.xz
*.7z
*.run

# Makefile generation
/core/xmake.config.h
/core/.config.mak
/core/**/*.o
/core/**/*.b
/core/**/*.a

# for fortran
/tests/**/*.mod

# for rpmbuild
/scripts/rpmbuild/BUILD*/*
/scripts/rpmbuild/RPMS/*
/scripts/rpmbuild/SOURCES/*
/scripts/rpmbuild/SRPMS/*

!/xmake/actions/build/
