[submodule "core/src/tbox/tbox"]
	path = core/src/tbox/tbox
	url = ../../tboox/tbox.git
[submodule "core/src/luajit/luajit"]
	path = core/src/luajit/luajit
	url = ../../xmake-io/xmake-core-luajit.git
[submodule "core/src/sv/sv"]
	path = core/src/sv/sv
	url = ../../xmake-io/xmake-core-sv.git
[submodule "core/src/pdcurses/pdcurses"]
	path = core/src/pdcurses/pdcurses
	url = ../../xmake-io/xmake-core-pdcurses.git
[submodule "core/src/lua-cjson/lua-cjson"]
	path = core/src/lua-cjson/lua-cjson
	url = ../../xmake-io/xmake-core-lua-cjson.git
