[submodule "core/src/tbox/repo"]
	path = core/src/tbox/repo
	url = ../../tboox/tbox.git
[submodule "core/src/luajit/repo"]
	path = core/src/luajit/repo
	url = ../../xmake-io/xmake-core-luajit.git
[submodule "core/src/sv/repo"]
	path = core/src/sv/repo
	url = ../../xmake-io/xmake-core-sv.git
