[submodule "core/src/tbox/repo"]
	path = core/src/tbox/repo
	url = https://github.com/tboox/tbox.git
[submodule "core/src/luajit/repo"]
	path = core/src/luajit/repo
	url = https://github.com/xmake-io/xmake-core-luajit.git
