.DS_Store/

# Xmake cache
.xmake/
build/

# for VS Code
.vscode/

# for vim
*.swp
*.swo
/tags

# Ignore packaging files
winenv/
*.exe
*.zip

# Makefile generation
/core/xmake.config.h
/core/.config.mak

!/xmake/actions/build/