*.a
*.b
*.o
*.exe
*.obj
*.dll
*.lib
*.out
*.suo
*~
*.swp
*.swo
*.bak
*.orig
*.pdb
*.idb
*.ilk
*.stackdump
*.manifest
.ccache
.demo
.svn
.DS_Store
.xmake
cscope.*
gmon.out
other
tags
doc
install.log
build
core/bin
core/pre
core/tool/msys
core/xmake.config.h
core/.config.mak
