<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/waruqi/xmake/wiki" class="btn">GET STARTED</a>
  <br><br>
  <iframe src="https://ghbtns.com/github-btn.html?user=waruqi&amp;repo=xmake&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
  <a href="http://tboox.org/donation/"><img src="{{site.baseurl}}/img/donate.gif" alt="donate"/></a>
</section>

