Source: xmake
Section: unknown
Priority: optional
Maintainer: unknown <waruqi@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/xmake
#Vcs-Git: https://salsa.debian.org/debian/xmake.git
Rules-Requires-Root: no

Package: xmake
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
